<div class="browse-page">
  <app-header />
  <div class="banner">
    <img
      class="banner-img"
      [src]="imgUrl + bannerMovie.backdrop_path"
      alt="banner image"
    />
    <div class="banner-movie-info">
      <h4 class="text-5xl font-bold mb-3">
        {{ bannerMovie.original_title }}
      </h4>
      <p class="text-lg">{{ bannerMovie.overview }}</p>
      <div class="banner-actions">
        <button class="play-btn">Play</button>
        <button class="info-btn">More Info</button>
      </div>
    </div>
  </div>
  <div class="movie-categories">
    <app-movie-category [title]="'Popular'" [moviesList]="playingMovies" />
    <app-movie-category [title]="'New release'" [moviesList]="popularMovies" />
    <app-movie-category [title]="'Top rated'" [moviesList]="topRatedMovies" />
    <app-movie-category [title]="'Upcoming'" [moviesList]="upcomingMovies" />
  </div>
</div>
